@model List<ToolLibrary.Models.CategoryViewModel>
@{
    var selectedCategoryId = ViewBag.SelectedCategoryId;
}
<ul class="nav nav-sidebar">
    @foreach (var category in Model)
    {
        <li class="@if (selectedCategoryId == category.Id) { @Html.Raw("active")}"><a href="@Url.Action("Index", "Tools", new { categoryId = category.Id })">@category.Name</a></li>
    }
</ul>