@{
    ViewBag.Title = "Home Page";
}

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="/Tools"><img src="~/Images/Tools.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"></a>
        <h4>Tools</h4>
        <span class="text-muted">Browse the library.</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="~/Images/Free_Library_Tools.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Blog</h4>
        <span class="text-muted">Listen to our story.</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="~/Images/Online-Donations.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Donate</h4>
        <span class="text-muted">Donate tools amd/or money or volunteer.</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="https://en.wikipedia.org/wiki/List_of_tool-lending_libraries"><img src="~/Images/west-seattle-tool-lending-library.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"></a>
        <h4>Other Libraries</h4>
        <span class="text-muted">Other libraries around the country.</span>
    </div>
</div>